@mixin hidingBeforeShow($existing-transform: null) {
  opacity: 0;

  @if $existing-transform != null {
    transform: $existing-transform  translateY(50px);
  } @else {
    transform: translateY(50px);
  }

  &.show {
    opacity: 1;

    @if $existing-transform != null {
      transform: $existing-transform  translateY(0);
    } @else {
      transform: translateY(0);
    }
  }
}