// theming
$primary-color: #212933;
$font-color: #d2d6ef;
$secondary-color: #4aace8;
$accent-color: #99c24d;

// easing
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

// layout
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 1024px;
$layout-breakpoint-xl: 1280px;