@use "@/styles/variables" as *;

.name-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--color-first-background);
  z-index: 10;

  // collapse animation:
  clip-path: inset(0);
  transition: clip-path 0.3s ease-in-out;

  &.collapsed {
    clip-path: inset(calc(100% - 85px) calc(100% - 85px) 15px 15px round 15px);

    @media (min-width: $layout-breakpoint-md) {
      clip-path: inset(
        15px calc(100% - 85px) calc(100% - 85px) 15px round 15px
      );
    }

    .title-box {
      height: 50px;
      transform: translate(0, 0);
      top: calc(50vh - 85px);
      left: 50px;

      @media (min-width: $layout-breakpoint-md) {
        top: 15px;
        left: 50px;
      }
    }
  }
}

.title-box {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 160px;
  transition: all 0.2s ease-out;

  svg {
    height: 100%;
    width: min-content;
    max-width: calc(100vw - 60px);
    opacity: 1;

    path {
      opacity: 1;
    }
  }

  &.only-show-first {
    svg path {
      opacity: 0;

      &:first-of-type {
        opacity: 1;
      }
    }
  }
}
