@use "@/styles/variables" as *;

.menu-item {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

  &.pressed {
    color: black;

    svg {
      fill: black;
    }
  }

  &::after {
    content: "";
    background-color: $secondary-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0.5);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &:hover::after {
    border-radius: 32px;
    opacity: 0.5;
    transform: scaleX(1);
  }

  &.pressed::after {
    border-radius: 16px;
    background-color: $accent-color;
    opacity: 1;
    transform: scaleX(1);
  }
}

.menu-text {
  // color: white;
  position: absolute;
  left: 70px;
  transition: opacity 0.3s ease-out;
  // width: 0;
}

/* .menu-item.pressed {
  height: 70px;
} */
