.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: 50px; */
  /* width: 100vw; */
  /* border: 1px solid green; */
  z-index: 20;
}

.menu-bar {
  position: fixed;
  pointer-events: none;
  /* top: 0;
  bottom: 0;
  left: 0; */
  /* height: 50px; */
  /* width: 200px; */
  /* border: 1px solid blue; */
  z-index: 20;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  gap: 10px
}

.menu-bar * {
  pointer-events: auto;
}

.content {
  position: absolute;
  /* top: 50px; */
  /* left: 200px; */
  right: 0;
  /* border: 1px solid red; */
}

.background-color {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: red; */
  z-index: -10;
}

.menu-item {
  /* background-color: red; */
  display: flex;
  justify-content: left;
  align-items: center;
  /* height: 48px; */
  position: relative;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu-item::after {
  content: "";
  background-color: var(--pill-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0.5);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* .menu-item.pressed {
  height: 70px;
} */

.menu-item:hover::after {
  /* background-color: red; */
  border-radius: 32px;
  opacity: 0.5;
  transform: scaleX(1);
}

.menu-item.pressed::after {
  border-radius: 16px;
  opacity: 1;
  transform: scaleX(1);
}

.work-list-item {
  border-radius: 24px 24px 0 0;
  overflow: hidden;
  transition: all 0.3s;
}

.work-list-item:hover {
  border-radius: 0 0 24px 24px;
  transition: all 0.3s;
}

.work-list-item:hover .link {
  border-radius: 16px;
  background-color: #444;
  
  /* @apply rounded-lg bg-gray-600; */
}

.work-list-item .link-text {
  opacity: 0;
  transition: all 0.3s;
  width: 0;
}

.work-list-item:hover .link-text {
  opacity: 1;
  width: max-content;
}

.work-list-item:hover img {
  @apply h-full;
  filter: blur(4px);
}

.work-list-item .desc {
  transition: all 0.3s cubic-bezier(0.61, 1, 0.88, 1);
}

.work-list-item:hover .desc {
  background-color: #000C;
  top: 0;
}