.name-background {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: var(--color-first-background);
  z-index: 10; /* making sure the menu is shown */
  /* z-index: 10; */
  /* border-radius: 2em; */
  /* border-radius: 2em; */
  /* transition: all .2s ease-in-out; */
  /* transition: top 0.2s ease-out, left 0.2s ease-out; */
}

/* .name-background.collapsed {
  top: 15px;
  left: 15px;
  height: 70px;
  width: 70px;
  border-radius: 15px;
} */

.title-box {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 160px;
  transition: all 0.2s ease-out;

}

.collapsed .title-box {
  top: 0;
  /* left: 15px; */
  left: 35px;
  height: 50px;
  transform: translate(0,0);
}

.title-box svg {
  height: 100%;
  width: min-content;
  max-width: calc(100vw - 60px);
  transition: all 0.2s ease-out;
  opacity: 1;
}

.title-box.only-show-first svg path {
  transition: all 1s ease-in-out;
  opacity: 0;
}

.title-box.only-show-first svg path:first-of-type {
  opacity: 1;
}