.title-name {
  position: fixed;
  /* top: 240px; */
  top: 0;
  left: 0;
  height: 160px;
  color: white;
  transform: translateX(-50%) translateY(10%);
  /* margin: 0 auto; */
  /* left: 50%; */
  /* width: auto; */
  width: max-content;
  overflow: visible;
  z-index: 10;
  /* background-color: red; */
}

.title-name svg {
  /* width: 100%; */
  width: max-content;
  max-width: calc(100vw - 2em);
  height: 100%;
  overflow: visible;
}

.title-name #text1 {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: dash 1s linear forwards;
}

/* .title-name::before {
  content: "";
  position: absolute;
  left: calc(0.12 / 4 * -1 * var(--name-width));
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  transition: all 0.2s ease-out;
}

.title-name.to-top::before {
  width: var(--name-height);
} */

@keyframes dash {
  0% {
    stroke-dashoffset: 40;
    fill: #fff0;
  }
  80% {
    stroke-dashoffset: 0;
    fill: #fff0;
  }
  100% {
    /* stroke-dashoffset: 0; */
    fill: #fff;
    stroke-dashoffset: 0;
  }
}
