.page-container {
  scroll-snap-align: start;
  /* display: grid;
  grid-template-areas:
    "main right";
  grid-template-columns: auto 300px;
  grid-template-rows: auto; */
}
.page-container div {
  /* grid-area: main; */
}