.puzzle {
  position: relative;
  height: 305px;
  /* min-height: 305px; */
  width: 305px;
  /* min-width: 305px; */
  /* border: 1px solid white; */
  border-radius: 10px;
  margin-right: 100px;
}

.puzzle .item {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(33% - 5px);
  width: calc(33% - 5px);
  background-color: #FFFA;
  color: black;
  border-radius: 10px;
  display: grid;
  place-content: center;
  font-size: 2em;
  transform: translateY(calc(var(--item-row) * calc(100% + 5px) + 5px))
    translateX(calc(var(--item-col) * calc(100% + 5px) + 5px));
  transition: all .3s cubic-bezier(0.34, 1.56, 0.64, 1);
  user-select: none;
}

.puzzle .item:not(.the-dot) {
  cursor: pointer;
}

.puzzle .item:not(.the-dot):hover {
  background-color: #FFF;
}

.puzzle .item.the-dot {
  background-color: transparent;
  transition: none;
}

.puzzle .item.correct {
  background-color: rgb(from var(--accent-color-1) r g b / 80%);
}
.puzzle .item.correct:hover {
  background-color: var(--accent-color-1);
}