@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Thai:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.text-bar-container {
  width: 100%;
  text-align: left;
  position: relative;
  height: 2em;
  overflow:hidden;
}

.text-bar-item {
  position: absolute;
  white-space: nowrap;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

/*  Background */
.text-bar-item {
  color:#0b0b0b;
  /* font-weight: inherit; */
  transition: color .1s ease-in-out;
  /* border */
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 #fff;
  cursor: default;
  user-select: none;
}

.text-bar-item:hover {
  color:#fff8;
  /* transform: scale(1.1); */
}

.text-corousel-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  /* move to js because it's seems like a better idea */
  transform: scale(calc(1 - (var(--scroll) / var(--screen-height))));
  transition: transform .1s ease-out;
}

@keyframes flickerOn {
  0%   { text-shadow: -1px -1px 0 #0000, 1px -1px 0 #0000, -1px 1px 0 #0000, 1px 1px 0 #0000; }
  /* 10%  { text-shadow: none; } */
  20%  { text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  30%  { text-shadow: -1px -1px 0 #0000, 1px -1px 0 #0000, -1px 1px 0 #0000, 1px 1px 0 #0000; }
  50%  { text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  /* 70%  { text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; } */
  80%  { text-shadow: -1px -1px 0 #0000, 1px -1px 0 #0000, -1px 1px 0 #0000, 1px 1px 0 #0000; }
  100% { text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
}

.blink-on-start {
  /* text-shadow: -1px -1px 0 #0000, 1px -1px 0 #0000, -1px 1px 0 #0000, 1px 1px 0 #0000;  */
  animation: flickerOn 1.5s ease-out forwards;
}