@use "@/styles/variables" as *;

.small-links {
  padding: 0.25em 0.5em;
  border-radius: 100px;
  transition: all 0.3s $ease-out-back;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  color: white;
  position: relative;
  overflow: hidden;
  // gap: 8px;
  // flex-direction: row;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 20px;
    border-radius: 100px;
    background-color: $secondary-color;
    transition: all 0.5s $ease-out-back;
  }

  &:hover {
    &::after {
      opacity: 0.5;
      width: 100%;
    }
  }
}